*{
    margin: 0;
    padding: 0;
}
body{
    width: 100;
    height: 100vh;
    overflow: hidden;
    background-image: url();
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    

}
.bubbles img{
    width: 30px;
    animation: bubble 5s linear infinite;

}
@keyframes bubble{
    0%{
        transform: translateY(-700px);
        opacity: 0;
}
30%{
    opacity: 0.8;
}
50%{
    opacity:0.6;
}
60%{
    opacity: 1;
}
70%{
    opacity:0.5;
}
100%{
    transform: translateY(0px);
    opacity:0;
}

}
.bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
}
.content{
    position: absolute;
    top: 90%;
    left: 40%;
    transform: translate(-50%,-50%);

}
.enter{
    color: aliceblue;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid rgb(0,217,255);
    border-radius: 20px;
    outline: none;
    text-align: right;
    text-shadow: 0 0 3px #36b9ff,0 0 5px #04fcdb;
    font-size: 30px;
}
.enter:hover{
    background-color: brown;
    color:rgb(247, 8, 191);
    transition: 1s;

}
.bubbles img:nth-last-child(1){
    animation-delay: 2s;
}
.bubbles img:nth-last-child(2){
    animation-delay: 1.6s;
}
.bubbles img:nth-last-child(3){
    animation-delay: 1s;
}
.bubbles img:nth-last-child(4){
    animation-delay: 2.5s;
}
.bubbles img:nth-last-child(5){
    animation-delay: 0.7s;
}
.bubbles img:nth-last-child(6){
    animation-delay: 2s;
}
.bubbles img:nth-last-child(7){
    animation-delay: 0.4s;
}
.bubbles img:nth-last-child(8){
    animation-delay: 1.8s;
}
#yu{
    width: 100%;
    height: 850px;
}
@media (max-width:600px) {
    
    
    #yu{
        width: 100%;
        height: 750px;
        
    }
    .enter{
        font-size: 20px;
    }
}